# Ignore pychace
__pycache__/

# Ignore large dataset
/C3-Natural_Language_Processing_with_Sequence_Models/W1/Lab/data/

# Ignore model directory
/C3-Natural_Language_Processing_with_Sequence_Models/W1/Assignment/model/

# Ignore models directory
/C3-Natural_Language_Processing_with_Sequence_Models/W1/Assignment/models/

# Ignore large dataset on C3W2 Assignment
/C3-Natural_Language_Processing_with_Sequence_Models/W2/Assignment/data/

# Ignore the pretrained model
/C3-Natural_Language_Processing_with_Sequence_Models/W3/Assignment/model/

# Ignore the large dataset
/C4-Natural_Language_Processing_with_Attention_Models/W1/Lab/data/

# Ignore large dataset
/C4-Natural_Language_Processing_with_Attention_Models/W1/Assignment/por-eng/

# Ignore large dataset
/C3-Natural_Language_Processing_with_Sequence_Models/W3/Assignment/questions.csv

# Ignore Large dataset
/C4-Natural_Language_Processing_with_Attention_Models/W2/Assignment/data/

# Ignore Large image size
/C4-Natural_Language_Processing_with_Attention_Models/W2/Assignment/images/